## <center>Implementation of major algorithms</center>

### Binary Search

In [42]:
"""compares the element with the middle element, then goes either left or right"""
def bin_search(alist, item):
    first = 0 # index of the first item
    last = len(alist) # index of the last item
    found = False 
    
    while last >= first and not found:
        middle = (first+last) // 2 # index of the middle item
        if item == alist[middle]: # if item == the element in the middle
            found = True
            
        else: 
            if item < alist[middle]: # if item < the element in the middle
                last = middle -1 # make index of the last item 1 smaller that the index of the middle item
            else: # if item > the element in the middle
                first = middle + 1 # make index of the first element 1 bigger than the index of the middle item 
    return found

In [43]:
b = [7,8,13,14,18,20]
bin_search(b, 20)

True

### Bubble Sort

In [72]:
"""compares two elements next to each other and swaps if needed: 1st and 2nd; 2nd and 3rd, etc."""
def bubble_s(alist):
    sorted = False
    while not sorted: 
        sorted = True
        for i in range(len(alist)-1):
            if alist[i] > alist[i+1]:
                sorted = False
                alist[i], alist[i+1] = alist[i+1], alist[i]
                
    return alist

In [73]:
a=[5,3,11,7,9,1]
bubble_s(a)

[1, 3, 5, 7, 9, 11]

### Selection Sort

In [84]:
"""find the minimal element, puts into the first position, reassess the rest, etc
or find the max element, put to the right, reassesses the rest, etc"""
def sel_sort(alist):
    for i in range(len(alist)-1):
        min_ind = i
        for j in range(i, len(alist)):
            if alist[j] < alist[min_ind]:
                alist[j],alist[min_ind] = alist[min_ind], alist[j]
    return alist

In [86]:
a=[5,13,11,7,9,1]
sel_sort(a)

[1, 5, 7, 9, 11, 13]

### Quicksort

In [19]:
def q_sort(a):
    if len(a) <= 1:
        return a
    smaller, equal, larger = [],[],[]
    pivot = a[len(a)-1]
    for x in a:
        if x< pivot:
            smaller.append(x)
        elif x > pivot:
            larger.append(x)
        else:
            equal.append(x)
    return q_sort(smaller) + equal + q_sort(larger)

In [20]:
a=[66,43,2,1,9,11]
q_sort(a)

[1, 2, 9, 11, 43, 66]

### Mergesort

In [6]:
def mergesort(alist):
    if len(alist) <= 1:
        return alist
    middle = int(len(alist)/2)
    left = alist[:middle]
    right = alist[middle:]
    mergesort(left), mergesort(right)
    return merge_f(left, right)

def merge_f(l,r):
    result = []
    left_p, right_p = 0, 0
    while left_p < len(l) and right_p < len(r):
        if l[left_p] < r[right_p]:
            result.append(l[left_p])
            left_p+=left_p
        else:
            result.append(r[right_p])
            right_p+=right_p
    result.extend(l[left_p])
    result.extend(r[right_p])
    
    return result

In [ ]:
a=[55,2,1,22,17,11]
mergesort(a)

### Whether a string contains dublicates

In [27]:
def is_dublicate(st):
    seen = []
    for char in st:
        if char in seen:
            return False
        seen.append(char)
    return True

In [31]:
st='abc'
is_dublicate(st)

True

### Implementing a LinkedList

In [1]:
class Node: # first create a node
    def __init__(self, data=None):
        self.data = data # it contains data 
        self.next = None # but doesn't point anywhere
        
class linkedList: # based on the node, create a linked list
    def __init__(self):
        self.head = Node() # the only element is head and it's created as a node
    def append(self, value): # adding a node to the list
        new_node = Node(value) # if there is not linkedlist at all
        if self.head is None:
            self.head = new_node
        last_node = self.head
        while last_node.next:
            last_node = last_node.next
        last_node.next = new_node
    def print_list(self): # print out a linked list
        curr = head.list
        while curr:
            curr = curr.next
            print(curr.data)

#### Removing a node from Linked List

In [3]:
"""
Check the edge cases, if a node to be removed is a head or a tail.
After removing a node, change the pointer from the node n-1 to node n+1
If a node to be deleted not in the list, tell 
Return the new linked list
"""
def removeNode(self, value):
    curr = self.head # curr equals to the head of the list
    prev = None
    if curr and curr.data == value: # means that the head node is the node to be deleted
        self.head = curr.next
        curr = None # this is how a node is deleted 
        return 
    while curr and curr.data != value:
        prev = curr
        curr = curr.next
    if curr is None: return 
    
    prev.next = curr.next
    curr = None

In [10]:
llist = linkedList()
llist.append('A')
llist.append('B')
llist.append('C')
llist.append('D')

In [ ]:
llist.print_list()

### Implementing a stack

In [17]:
class Stack():
    def __init__(self):
        self.items = []
    
    def push(self, item):
        self.items.append(item)
    
    def pop(self):
        return self.items.pop()
    
    def get_stack(self):  # just returns the whole stack
        return self.items
    
    def is_empty(self):
        return self.items == []
    
    def min_is(self):
        return min(self.items)

In [18]:
s=Stack()
s.push("3")
s.push("5")
#s.get_stack() # shows what's inside the stack
s.push("8")
s.pop()
s.get_stack()

['3', '5']

In [19]:
s.min_is()

'3'

### Tree from scratch + its traversals + some other basic functions

In [13]:
class Node:
    def __init__(self,value):
        self.value = value
        self.left=self.right=None 
        
    
    def insert(self,data):
        if self.value == data:
            return False # no duplicates allowed
        elif self.value > data: # putting everything to the left
            if self.left: # if there is a left child 
                return self.left.insert(data)
            else: # if there is no left child yet
                self.left = Node(data)
                return True
        else:  # to the right side 
            if self.right:
                return self.right.insert(data)
            else: 
                self.right = Node(data)
                return True


    def find(self,data):
        if self.value == data:
            return True
        elif self.value > data: # going left
            if self.left: 
                return self.left.find(data)
            else: 
                return False
        else:
            if self.right: # going right
                return self.right.find(data)
            else:
                return False 
            
    
    def preorder(self):
        if self:
            print(str(self.value))
            if self.left:
                self.left.preorder()
            if self.right:
                self.right.preorder()
                
    def postorder(self):
        if self:
            
            if self.left:
                self.left.postorder()
            if self.right:
                self.right.postorder()
            print(str(self.value))    
            
            
    def inorder(self):
        if self:
            
            if self.left:
                self.left.inorder()
            print(str(self.value))  
            if self.right:
                self.right.inorder()
            
  
"""
-------------------------Tree itself---------------------          
"""
class Tree:
    def __init__(self,value):
        self.root = None
    # all these methods actually call methods from the Node class
    
    def insert(self,data):
        if self.root: # if the root node exists
            return self.root.insert(data) #uses iteratively the insert method that is created above in the Node class
        else:
            self.root = Node(data) # create a new node is nothing exists
            return True
    
    def find(self,data):
        if self.root:
            return self.root.find(data)
        else:
            return False 
        
    def inorder(self):
        print("inorder")
        self.root.inorder()
        
    def preorder(self):
        print("preorder")
        self.root.preorder()
        
    def postorder(self):
        print("postorder")
        self.root.postorder()

In [ ]:
bst = Tree(10)

## Logistic Regression exercise

In [1]:
# Predicting TenYearCHD below
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
fram_df = pd.read_csv('/Users/michaelkareev/Desktop/Framingham Set Kaggle/framingham.csv')

In [8]:
fram_df.describe()

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
count,4240.000000,4240.000000,4135.000000,4240.000000,4211.000000,4187.000000,4240.000000,4240.000000,4240.000000,4190.000000,4240.000000,4240.000000,4221.000000,4239.000000,3852.000000,4240.000000
mean,0.429245,49.580189,1.979444,0.494104,9.005937,0.029615,0.005896,0.310613,0.025708,236.699523,132.354599,82.897759,25.800801,75.878981,81.963655,0.151887
std,0.495027,8.572942,1.019791,0.500024,11.922462,0.169544,0.076569,0.462799,0.158280,44.591284,22.033300,11.910394,4.079840,12.025348,23.954335,0.358953
min,0.000000,32.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,107.000000,83.500000,48.000000,15.540000,44.000000,40.000000,0.000000
25%,0.000000,42.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,206.000000,117.000000,75.000000,23.070000,68.000000,71.000000,0.000000
50%,0.000000,49.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,234.000000,128.000000,82.000000,25.400000,75.000000,78.000000,0.000000
75%,1.000000,56.000000,3.000000,1.000000,20.000000,0.000000,0.000000,1.000000,0.000000,263.000000,144.000000,90.000000,28.040000,83.000000,87.000000,0.000000
max,1.000000,70.000000,4.000000,1.000000,70.000000,1.000000,1.000000,1.000000,1.000000,696.000000,295.000000,142.500000,56.800000,143.000000,394.000000,1.000000

In [36]:
fram_df.head()

,male,age,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0

In [3]:
fram_df.isnull().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [ ]:
# percentage of null values in every column

print('The percentage of null values by feature is: ')
for i in list(fram_df.columns):
#     print(fram_df[i].isnull().sum()/len(fram_df[i])*100)
    print("{0:.2f}%".format(fram_df[i].isnull().sum()/len(fram_df[i])*100))

In [15]:
list(fram_df.columns)

['male',
 'age',
 'education',
 'currentSmoker',
 'cigsPerDay',
 'BPMeds',
 'prevalentStroke',
 'prevalentHyp',
 'diabetes',
 'totChol',
 'sysBP',
 'diaBP',
 'BMI',
 'heartRate',
 'glucose',
 'TenYearCHD']

In [32]:
fram_df['TenYearCHD'].value_counts()/len(fram_df['TenYearCHD'])

0    0.848113
1    0.151887
Name: TenYearCHD, dtype: float64

In [35]:
# strange column, dropping
fram_df.drop('education', axis = 1, inplace = True)

In [38]:
# filling out NaNs with mean
fram_df.iloc[:,2:] = fram_df.iloc[:,2:].fillna(fram_df.iloc[:,2:].mean())

In [41]:
features = fram_df.iloc[:,:-1]
result = fram_df.iloc[:,-1]

In [40]:
import sklearn
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(features, result, test_size = 0.2, random_state = 14)

In [46]:
y_train

1133    0
287     0
1469    0
2754    0
283     0
3440    0
228     0
1769    0
3952    0
1347    0
2782    0
2691    0
2610    0
2791    0
3836    0
627     0
358     0
247     1
2406    0
1839    0
1801    0
2809    0
2284    0
3866    1
3281    0
2119    0
3151    0
3872    1
1519    0
1691    1
       ..
587     0
3129    0
1601    1
2078    0
2093    0
1930    0
3964    0
2034    0
1835    0
218     0
27      0
777     0
3231    0
3451    0
3245    0
1743    0
579     1
231     0
1768    0
2149    0
1656    0
260     0
4087    0
2539    0
471     1
1232    0
3833    1
2454    0
1292    0
2667    0
Name: TenYearCHD, Length: 3392, dtype: int64