#### Returns elements that are in both lists

In [7]:
def list_sum(alist, blist):
    c = []
    for i in range(len(alist)):
        for j in range(len(blist)):
            if alist[i]==blist[j]:
                c.append(alist[i])
    return c

In [9]:
a = [3,7,11,5]
b = [6, 5, 11]
list_sum(a,b)

[11, 5]

#### Binary search on the sorted array

In [25]:
def bin_s(alist, value):
    first = 0
    last = len(alist)
    found = False
    while found:
        middle = (first + last) / 2
        if value == middle:
            found = True
        elif value < middle:
            last = middle - 1     
        else:
            first = middle + 1
    return alist.index(value)

In [30]:
a = [3,4,5,6,7]
v = 4
bin_s(a,v)

1

#### Same recursively

In [31]:
def bin_s_rec(alist, value):
    first = 0
    last = len(alist)
    found = False
    while found:
        middle = (first+last) / 2 
        if value == middle:
            found = True
        elif value < middle:
            last = middle - 1
            bin_s_rec(alist[first:last], value)
        else:
            first = middle + 1
            bin_s_rec(alist[first:last], value)
    return alist.index(value)

In [34]:
a = [3,4,5,6,7,12,16]
v = 16
bin_s_rec(a,v)

6

#### Bubble sort

In [25]:
def b_sort(alist):
    for i in range(len(alist)):
        for j in range(len(alist)):
            if alist[i] < alist[j]:
                alist[i], alist[j] = alist[j], alist[i]
    return alist

In [31]:
def b_sort2(alist):
    for i in range(len(alist)):
        for j in range(len(alist)-i-1):
            if alist[j] > alist[j+1]:
                alist[j], alist[j+1] = alist[j+1], alist[j]
    return alist

In [29]:
a=[6,4,11,1,2,31,24,3]
b_sort(a)

[1, 2, 3, 4, 6, 11, 24, 31]

In [32]:
b_sort2(a)

[1, 2, 3, 4, 6, 11, 24, 31]

#### Merge Sort

In [ ]:
def merge_both(l,r):  # first a function that compares and merges two arrays
    result = []
    i,j = 0,0
    while i < len(l) and j < len(r):
        if l[i] <= r[j]:
            result.append(l[i])
            i+=i
        else:
            result.append(r[j])
            j+=j
    result += l[i:]
    result += r[j:]
    return result
        
        
        
def m_sort(alist):   # mergesort itself 
    left, right = 0,0 
    if len(alist)<=1:
        return alist
    middle = int(len(alist) / 2)
    left = m_sort(alist[:middle])
    right = m_sort(alist[middle:])
    return merge_both(left,right)

In [ ]:
a = [55,2,42,10,16,3,13]
print(m_sort(a))

#### Turning numbers in binary

In [81]:
def binary(value):
    st = []
    num = 0
    rem = 0
    while value > 0:
        value = int(value / 2)
        rem = value % 2 
        st.append(rem)      
    st.reverse()   
    for i in st:
        print(i, end = '')

In [82]:
binary(11)

0101

#### Is a palindrome

In [1]:
def is_pal(alist):
    
    for i in range(0,int(len(alist)/2)):
        if alist[i] == alist[len(alist)-i-1]:
            
            return True
        else: 
            
            return False

In [4]:
v=[5,4,4,5]
is_pal(v)

True

#### Reverse array

In [22]:
def Rev(alist):
    for i in range(len(alist)//2): # b/c the left half will be swapped with the second half
        swap = len(alist) - i - 1 # last current item. For the first iteration: len minus zero minus 1 equals 3. Third element in the list with four items is the last element
        alist[i], alist[swap] = alist[swap], alist[i]
    print(alist)

In [23]:
b = [3,5,6,4]
Rev(b)

[4, 6, 5, 3]

#### Fibonacci numbers

In [25]:
"""Returns the first n Fibonacci numbers"""
def fib(n):
    if n==1 or n==2:
        return 1
    else:
        return fib(n-1) + fib(n-2)

In [28]:
for i in range(1,6):
    print(fib(i))

1
1
2
3
5

#### Multiplication

In [30]:
"""Take two numbers. Add number a to itself b times"""
def ss(a,b):
    s = 0
    for i in range(b):
        s = s+a
    return s

In [31]:
ss(3,4)

12

#### To the power

In [34]:
"""Takes the base and to the power of p"""
def pow(base, p):
    s = 1
    for i in range(p):
        s = s*base
    return s

In [36]:
pow(3,2)

9

#### Retuns the remainder

In [39]:
"""a//b = c + d
a = 17, b = 3. ==> c = 17 // 3 == 5. a minus c times b = 17 - 5*3 = 2
"""
def rd(a,b):
    if b<0:
        return -1
    else:
        c = a // b
        return a - b*c

In [40]:
rd(17,3)

2

### Linked List

In [ ]:
#Start with creating a node
class node: # subclass of the linked list that is created below. You never see it
    def __init__(self, data=None):
        self.data = data
        self.next=None  #it's a node that doesn't point anywhere. The last element will also have a pointer set to None

class linked_list:
    def __init__(self):
        self.head = node() # the head node never contains the actual data. 

def append(self, data):
    new_node = node(data)
    if self.head is None:
        self.head = new_node
        return
    
    last_node = self.head
    while last_node.next:
        last_node = last_node.next
    last.node.next = new_node
    
def print_list(self):
    cur_node = self.head
    while cur_node:
        print(cur_node.data)
    cur_node = cur_node.next

llist = linked_list()
llist.append("A")
llist.append("B")
llist.print_list()

In [13]:
def insert_after_node(self, prev_node, data):
    if not prev_node:
        print("Can't insert after a non-existing node")
        return
    new_node = node(data)
    new_node.next = prev_node.next
    prev_node.next = new_node

In [ ]:
llist.insert_after_node(llist.head.next,"E")

### Binary search tree

In [18]:
class Node(object):  #as with the linked list, first create a node
    def __init__(self,value):
        self.value = value
        self.left = self.right = None #instead of the next, define left and right

class BinaryTree(object): # the tree itself
    def __init__(self,root):
        self.root = Node(root) #initializing the top, a.k.a. the root as a Node class

btree = BinaryTree(1) # putting the initial value 
btree.root.left = Node(2)
btree.root.right = Node(3)
btree.root.left.left = Node(4)
btree.root.left.right = Node(5)
btree.root.right = Node(6)
btree.root.right.right = Node(7)

In [ ]:
# traversals. Trees can be traversed in different ways
# Depth-first order: in-order, pre-order, post-order

def preorder_print(self, start, traversal):
    if start:
        traversal +=(str(start.value) + "-")
        traversal = self.preorder_print(start.left, traversal)
        traversal = self.preorder_print(start.right, traversal)
    return traversal

def print_tree(self, traversal_type):
    if traversal_type == 'preorder':
        return self.preorder_print(btree.root,"")
    
print(btree.print_tree("preorder"))

#### Multiply two largest elements

In [14]:
# Multiplies two largest elemets from the list
def mult_2(alist):
    def sec_larg(alist):
        first, second = 0, 0
        for n in alist:
            if n > first:
                first, second = n, first 
            elif first > n > second:
                    second = n
        return second 
                
            
    m1 = max(alist) # the largest element
    m2 = sec_larg(alist) # the second largest element is found by using an inner function
    return m1*m2

In [16]:
b=[4,5,43,11]
mult_2(b)

473

#### String transformation

In [18]:
"""
Take string aabbbd, return a2b3d1. If the new string is longer than the old string, return the original
aacbbbd gives a2c1b3d1 and it's longer. Return aacbbbd instead
"""
def str_fre(st):
    d = [] # empty list
    cnt = 0 # counter
    prv = st[0] # prev symbols equals the first string element
    for n in st: #looping thru the string 
        if n == prv: #if current element = previous
            cnt +=1
        else:
            d += prv + str(cnt) #add to the list the element and the counter transformed into a string
            prv = n
            cnt = 1
    d += prv + str(cnt) #need to repeat it for cases when we never enter the else statement
    d = ''.join(d)
    if len(d) < len(st):
        return d
    else:
        return st

In [20]:
g = "aacvvvd"
str_fre(g)

'aacvvvd'

#### Check if string has unique characters

In [21]:
"""
'abc' gives True because all elements are unique
'return' gives False because "r" is repeated twice
"""
def un(st): #set only contains unique elements. Turn your string into a set, and it'll only store unique elements.
    if len(set(st)) == len(st): # Then check whether the length of the set equals to string's. 
        return True
    else: return False

In [23]:
b="abc"
n="return"
un(n)

False

#### Is one string a permutation of another

In [27]:
"""
'driving' and 'drivign' return True
'driving' and 'dddrivin' return False
"""
def is_perm(st1, st2):
    st1 = st1.replace(" ","") #remove spaces 
    st2 = st2.replace(" ","")
    
    if len(st1) != len(st2): return False # if different lengths, not permutations 
    else:
        for i in st1: #loop thru the first string
            if i in st2:
                st2 = st2.replace(i,"") #remove from the second string all elements that are also in the first string
        return len(st2) == 0 # if nothing is left, it means that every element in the second string has been removed b/c it was found in the first string

In [28]:
r="driving"
t="drivign"
is_perm(r,t)

True

#### Same thing but with a dictionary

In [ ]:
"""
2. Output the list of quarters, given the list of string dates EX: "2018-09-27" Output : Q3
3. Given 2 circle with centres and radius , output the if the circle are touching each other or not.
If you have a table with names and ages that contains some duplicates, how would you return all duplicates? Answer in SQL

"""

In [3]:
# Output the list of quarters, given the list of string dates EX: "2018-09-27" Output : Q3

def quarters():
    import pandas as pd
    date_entry = input('Enter a date in YYYYMMDD format')
    ts = pd.Timestamp(pd.to_datetime(date_entry,format='%Y%m%d'))
    return "Q{}".format(ts.quarter)

In [5]:
quarters()

Enter a date in YYYYMMDD format 20191111

'Q4'

In [18]:
# Same but with hardcoding
def quarters_hardcoded():
    date_entry=input("Enter a date in a YYYY-MM-DD format")
    year, month, day = map(int, date_entry.split('-'))
    return 'Q1' if month>=1 and month<=3 else 'Q2' if month>=4 and month <=6 else 'Q3' if month >=7 and month <=9 else 'Q4'\
    if month>=10 and month<=12 else 'Your month should be between 1 and 12'

In [20]:
quarters_hardcoded()

Enter a date in a YYYY-MM-DD format 2018-44-32

'Your month should be between 1 and 12'

In [41]:
# Given two strings, write a method to decide if one is a permutation of another
def perm(str1, str2):
    if len(str1) != len(str2):
        return False 
    return sorted(str1) == sorted(str2)

In [42]:
perm('framingham','mahframgni')

True

In [43]:
perm('abhr','rhbb')

False

In [96]:
"""
String Compression: Implement a method to perform basic string compression using the counts of repeated characters. 
For example, the string "aabcccccaaa" would become a2b1c5a3. If the "compressed" string would not become smaller than 
the original string, your method should return the original string. You can assume the string has only uppercase 
and lowercase letters (a-z).
"""
def str_comp(st):
    c = 1
    st2 = ''
    for i in range(len(st)-1):
        if st[i]==st[i+1]:
            c+=1
        else:
            st2 += st[i]+str(c)
            c=1
    st2 += st[i]+str(c)
    return st2 if len(st2)<=len(st) else st

In [97]:
str_comp('aaabcccc')

'a3b1c4'

In [121]:
"""
Replace all spaces in the string with %20 and print out the new string
Example 'Good morning everyone' becomes 'Good%20morning%20everyone'
"""
def repl(st):
    st1 = ''
    for i in range(len(st)):
        if st[i] == ' ':
            st1 += str('%20')
        else:
            st1+=st[i]
    return st1

In [122]:
repl('Good morning everyone')

'Good%20morning%20everyone'

In [119]:
# using replace
def repl1(st):
    return st.replace(" ","%20")

In [120]:
repl1('Good morning everyone')

'Good%20morning%20everyone'

In [125]:
"""
String Rotation: Given two strings, s1 and s2, write code to check if s2 is a rotation of s1
(e.g. "waterbottle" is a rotation of "erbottlewat").
"""

def is_rotation(st1, st2):
    if len(st1) != len(st2):
        return False
    d1 = {}
    d2 = {}
    for i in st1:
        d1[i] = d1.get(i,0)+1
    for j in st2:
        d2[j] = d2.get(j,0)+1
    return d1 == d2

In [129]:
is_rotation("waterbottle", "erbottlewat")
# is_rotation("watertables","erbottlewat")
# is_rotation("watertales",'lalal')

True

In [136]:
"""
 Your input is an array of
integers, and you have to reorder its entries so that the even entries appear first.
"""

def even_first(arr):
    next_even , next_odd = 0, len(arr) - 1
    while next_even < next_odd:
        if arr[ next_even ] % 2 == 0:
            next_even += 1
        else:
            arr[ next_even ], arr[next_odd] = arr[next_odd], arr[ next_even ]
            next_odd -= 1
    return arr

"""
SQL : a college maintains department info on one table and student info on a second table. 
    Write a query that shows number of students by major in descending order
    """


dept_table:
dept_id | major_id | major_name

student_table:
student_id | st_first_name | st_last_name | major_id

select d.major_id, count(s.student_id) from dept_table d
 join student_table s on d.major_id = s.major_id 
group by d.major_id
order by count(s.student_id) desc

In [144]:
"""
Given an array of dates in string format (e. g. '20050301') write a function 
that returns year and quarter (e. g. '20050301 =>' 2005Q1')  
"""

def return_q():
    date_entry=input("Enter a date in a YYYYMMDD format")
    month = int(date_entry[4:6])
    year = date_entry[:4]
    return year+'Q1' if month>=1 and month<=3 else year+'Q2' if month>=4 and month <=6 else year+'Q3' if month >=7 and month <=9 else year+'Q4'\
    if month>=10 and month<=12 else 'Your month should be between 1 and 12'

In [145]:
return_q()

Enter a date in a YYYYMMDD format 20180303

'2018Q1'

In [143]:
st1 = str('20051230')
print(st1[:4])

2005

In [ ]:
"""
remove an element from a linked list using iterator  
"""

In [137]:
even_first([3,4,5,6])

[6, 4, 5, 3]

In [130]:
# Node swap in a linked list

# implement a linked list first

class node:
    def __init__(self, data = None):
        self.data = data
        self.next = None

class linked_list:
    def __init__(self):
        self.head = node()

    def append(self,data):
        new_node = node(data)
        cur = self.head()
        while cur.next != None:
            cur = cur.next
        cur.next = new_node()
    
    def length(self):
        cur = self.head()
        total = 0
        while cur.next != None:
            total+=1
            cur = cur.next
        return total
    
    def swap(self, el1, el2): 
        if el1 == el2:
            return
        prev_1 = None
        curr_1 = self.head
        while curr_1 and curr_1.data!=el1:
            prev_1 = curr_1
            curr_1 = curr_1.next

In [ ]:
llist = linked_list()
llist.append("a")
llist.append("b")
llist.append("c")
print(llist)