In [ ]:
days = pd.read_csv('C:/Users/MI017KA/Pitney Bowes/eCommerce Operations - BIA_RetailAnalytics/Promos/Friends and Family/Post Mortem/Clustering/20181017_days_original.csv')

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn

In [35]:
days1.head()

,EmailAddress,SubscriberKey,CUSTOMER_ID,ACCOUNT_ID,SentDate_CST_FIRST,ORDER_DATE_CST_FIRST
0,NOGUEL@YAHOO.COM,NOGUEL@YAHOO.COM,1394723,592dbda71d0000bf5f7129f1,2018-10-17 15:33:13,1970-01-01 00:00:00
1,THANG.LAM@MSN.COM,THANG.LAM@MSN.COM,3520148,57faef401a00001f95cf925e,2018-10-17 19:03:11,2018-10-17 19:49:26
2,LUKTING@HOTMAIL.COM,LUKTING@HOTMAIL.COM,4827212,5806d0eb1d0000f3a33766b7,2018-10-17 19:02:11,1970-01-01 00:00:00
3,ELLENLEE927@GMAIL.COM,ELLENLEE927@GMAIL.COM,5722630,57c675c51e0000b949c46627,2018-10-17 19:02:04,2018-10-20 12:25:39
4,MAVISH012008@HOTMAIL.COM,0,5762816,0,1970-01-01 00:00:00,1970-01-01 00:00:00

In [39]:
days1.dtypes

EmailAddress                    object
SubscriberKey                   object
CUSTOMER_ID                      int64
ACCOUNT_ID                      object
SentDate_CST_FIRST      datetime64[ns]
ORDER_DATE_CST_FIRST    datetime64[ns]
Difference                       int64
dtype: object

In [ ]:
days1 = days

In [ ]:
days1['SentDate_CST_FIRST','ORDER_DATE_CST_FIRST'] = days1['SentDate_CST_FIRST','ORDER_DATE_CST_FIRST'].fillna(value = 0, inplace = True)

In [33]:
days1['SentDate_CST_FIRST'] = pd.to_datetime(days['SentDate_CST_FIRST'])
days1['ORDER_DATE_CST_FIRST'] = pd.to_datetime(days['ORDER_DATE_CST_FIRST'])

In [ ]:
days1.dtypes

In [38]:
days1['Difference'] = (days1['ORDER_DATE_CST_FIRST'] - days1['SentDate_CST_FIRST']).dt.days

In [37]:
days1.head()

,EmailAddress,SubscriberKey,CUSTOMER_ID,ACCOUNT_ID,SentDate_CST_FIRST,ORDER_DATE_CST_FIRST,Difference
0,NOGUEL@YAHOO.COM,NOGUEL@YAHOO.COM,1394723,592dbda71d0000bf5f7129f1,2018-10-17 15:33:13,1970-01-01 00:00:00,-17822
1,THANG.LAM@MSN.COM,THANG.LAM@MSN.COM,3520148,57faef401a00001f95cf925e,2018-10-17 19:03:11,2018-10-17 19:49:26,0
2,LUKTING@HOTMAIL.COM,LUKTING@HOTMAIL.COM,4827212,5806d0eb1d0000f3a33766b7,2018-10-17 19:02:11,1970-01-01 00:00:00,-17822
3,ELLENLEE927@GMAIL.COM,ELLENLEE927@GMAIL.COM,5722630,57c675c51e0000b949c46627,2018-10-17 19:02:04,2018-10-20 12:25:39,2
4,MAVISH012008@HOTMAIL.COM,0,5762816,0,1970-01-01 00:00:00,1970-01-01 00:00:00,0